extends layout

block content

    div(class="form-card")
        h1 Nueva Publicación

        form(action="/crear-publicacion" method="POST")

            div
                label(for="titulo") Título
                input(type="text" name="titulo" id="titulo" required)

            div
                label(for="descripcion") Descripción
                textarea(name="descripcion" id="descripcion" rows="5" required)

            div
                label(for="img") Imagen
                input(type="file" id="img" accept="image/*")

            div(id="imgsPreview")

            input(type="hidden" name="imagen_base64" id="imagen_base64")
            input(type="hidden" name="nombre_original" id="nombre_original")
            input(type="hidden" name="mime_type" id="mime_type")

            button(type="submit") Publicar

        br

        a(href="/") Volver al inicio

    script(src="/js/createPost.js")