extends layout

block content
    h1 Bienvenido a Fotaza

    if user
        p Hola #{user.nombre}
        form(action="/logout" method="POST")
            button(type="submit") Cerrar sesión
    else
        a(href="/login") Iniciar sesión
        br
        a(href="/signup") Registrarse