doctype html
html
    head
        title Fotaza
        link(rel="stylesheet" href="/css/style.css")
    body
        header.navbar
            div.logo 📷 Fotaza
            nav
                a(href="/") Inicio
                if user
                    a(href="/crear-publicacion") Nueva publicación
                    a(href=`/perfil/${user.id_usuario}`) Perfil
                else
                    a(href="/login") Iniciar sesión
                    a(href="/signup") Registrarse

        main.container
            block content

        footer.footer
            | Fotaza © 2026