doctype html
html
  head
    title Login
    link(rel="stylesheet", href="/css/style.css")

  body
    h1 Iniciar Sesión

    if error
      p(style="color:red")= error

    form(action="/login" method="POST")
      div
        label Email
        input(type="email" name="email" required)

      div
        label Contraseña
        input(type="password" name="password" required)

      button(type="submit") Ingresar

    br
    a(href="/signup") Crear cuenta