extends layout

block content

    div(class="form-card")
        h1 Iniciar Sesión

        if error
            p(style="color:red")= error

        form(action="/login" method="POST")
            div
                label(for="email") Email
                input(type="email" name="email" id="email" required)

            div
                label(for="password") Contraseña
                input(type="password" name="password" id="password" required)

            button(type="submit") Ingresar

        br

        a(href="/signup") Crear cuenta