extends layout

block content

    div(class="form-card")
        h1 Registro de Usuario

        if error
            p(style="color:red")= error

        form(action="/signup" method="POST")
            div
                label(for="nombre") Nombre
                input(type="text" name="nombre" id="nombre" required)

            div
                label(for="apellido") Apellido
                input(type="text" name="apellido" id="apellido" required)

            div
                label(for="email") Email
                input(type="email" name="email" id="email" required)

            div
                label(for="password") Contraseña
                input(type="password" name="password" id="password" required)

            button(type="submit") Registrarse

        br

        a(href="/login") Ya tengo cuenta